.profile li{
    background: rgba(0, 0, 0, 0.14)!important;
    color: white;
}

form {
    color: rgba(255, 255, 255, 0.781);
}

.profile .card-img{
    width: 300px;
    height: 100%;
}

.profile .card-body{
    width:350px;
    height: 100%;
}

.edit-profile .form-control {
    background: rgba(255, 255, 255, 0.767);
    border:rgba(255, 255, 255, 0.466);
}

.edit-profile label{
    font-size: 20px;
    color: rgba(41, 41, 41, 0.842);
}