body,html{
    background: rgb(65,118,135);
    background: linear-gradient(90deg, rgba(65,118,135,1) 0%, rgba(72,115,203,1) 35%, rgba(0,212,255,1) 100%);
    height: 100vh;
    width: 100%
}

.jumbotron-fluid {
    background: rgba(0, 0, 0, 0.288)!important;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input{
    border-radius: 5px;
}


form a{
    outline: none;
}

h1{
    color: white;
    text-align: center;
}

.connexion{
    border-radius: 5px;
    padding: 30px 0;
    background: rgba(0, 0, 0, 0.288);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.466);
}

.reActivation{
    border-radius: 5px;
    padding: 50px 0 40px 0;
    background: rgba(0, 0, 0, 0.288);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.466);
}

nav{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.466);
}
